<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trigirls_params</key>
	<dict>
		<key>AppsFlyer</key>
		<dict>
			<key>appleAppId</key>
			<string>1111434437</string>
			<key>afDevKey</key>
			<string>8HscacW5FtaWGFgXe4tM7Z</string>
		</dict>
	</dict>
</dict>
</plist>
