<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>海外韩文版</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDEN(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sdTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd(PRODUCT_BUNDLE_IDENTIFIER)a;sodja;sdjfal;skdjfl;aksjdfl;askjdf;lkajsl;dkfjal;sd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
		<false/>
		<string>ko</string>
		<array>
			<string></string>
		</array>
	</array>
	<key>CFBundleName</key>
	<string>海外2.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb570863873684614</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.418266015024-2usld3sb89jnc0cgvfmjgc5pgu84mccn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.indie.jzx.kr1</string>
			</array>
		</dict>
		<string></string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>570863873684614</string>
	<key>FacebookDisplayName</key>
	<string>蒼狼決</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>12313</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>trigirls_params</key>
	<dict>
		<key>AppsFlyer</key>
		<dict>
			<key>afDevKey</key>
			<string>8HscacW5FtaWGFgXe4tM7Z</string>
			<key>appleAppId</key>
			<string>1111434437</string>
		</dict>
		<key>google</key>
		<dict>
			<key>clientID</key>
			<string>418266015024-2usld3sb89jnc0cgvfmjgc5pgu84mccn.apps.googleusercontent.com</string>
		</dict>
		<key>naver</key>
		<dict>
			<key>cafeId</key>
			<string>29698093</string>
			<key>consumerKey</key>
			<string>94xAYdgMJSR6ggV83FhZ</string>
			<key>consumerSecret</key>
			<string>mHNGOInQKH</string>
			<key>urlScheme</key>
			<string>com.indie.jzx.kr1</string>
		</dict>
	</dict>
	<key>New item</key>
	<date>2020-03-10T10:34:33Z</date>
	<key>New item - 2</key>
	<integer>1111112341234</integer>
</dict>
</plist>
